.app-bar {
    min-height: 88px;
    background-color: #fff;
}

@media (max-width:600px) {
    .app-bar {
        padding: 32px;
    }
}

.with-app-bar {
    margin-top: 88px;

    @media (max-width:600px) {
        margin-top: 163px;
    }
}